# ==========================================
# Configuración AldaEdu - Hack4Edu 2026
# ==========================================

# Configuración de Base de Datos
# Por defecto conecta a PostgreSQL en Supabase. Si no se especifican variables, Django utilizará SQLite automáticamente.
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres.tu_proyecto_supabase
DB_PASSWORD=tu_password_supabase
DB_HOST=aws-0-sa-east-1.pooler.supabase.com
DB_PORT=6543

# Configuración Django
SECRET_KEY=django-insecure-tu-clave-secreta-de-produccion
DEBUG=True

# Configuración para Notificaciones por Correo (SMTP / Gmail)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=tu_correo@gmail.com
SENDER_PASSWORD=tu_contrasena_de_aplicacion_google

# Configuración para WhatsApp (Twilio API)
TWILIO_ACCOUNT_SID=tu_account_sid
TWILIO_AUTH_TOKEN=tu_auth_token
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
