# Entornos virtuales
venv/
env/
.env/

# Variables de entorno
.env
.env.*
!.env.example

# Base de datos local
db.sqlite3
*.sqlite3

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python

# Herramientas y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos estáticos recolectados
staticfiles/
